.label{
    padding: 5px 8px;
}
.label-success{
    color: #fff;
}

.label-ribbon{
    position: absolute;
    right: -8px;
    top: 10px;
    background-color: $label-warning-color;
    color: $text-color;
    font-size: 12px;
    line-height: 1.1;
    letter-spacing: .5px;
    padding: 5px 8px;
   // box-shadow: 0 1px 3px rgba(0,0,0,.4);
    @include shadow-2dp();
    z-index: 2;

    &::after{
        content: "";
        width: 0;
        height: 0;
        border-width: 2px 4px;
        border-style: solid;
        position: absolute;
        //border-color: #9a8d4a transparent transparent #9a8d4a;
        border-color: darken($label-warning-color, 40%) transparent transparent darken($label-warning-color, 40%);
        top: 100%;
        right: 0;
    }
}
