.alert{
    position: relative;
    left:0;
    right:0;
    top:0;
    z-index: 2;
    margin:0;
    padding: 15px 40px 15px 15px;
    @include slideInDown();
    @include shadow-6dp();

    &:first-child{
        margin-top:0;
    }


    .close{
        position:absolute;
        width: 40px;
        height: 40px;
        right: 0;
        top: 0;
        font-size: 30px;
        font-weight: normal;
        border-bottom: 0;
    }

    @media (min-width: $screen-sm-min){
        margin-top: 20px;
    }

    &.alert-warning{
        color: rgba(0,0,0,.6);

        a{
            color: $brand-primary;
        }
    }
}

.admin__panel__content .alert .close{
    border-bottom: 0;
    color: #000;
}

.alert__inner{
    position: relative;
    padding-right: 40px;

    .close{
        top: -10px;
    }
}

    .alert__icon{
        display: none;
        width: 100px;
        height: 100px;
        float: left;
        margin-right: 20px;

        @media (min-width: $screen-sm-min){
            display: block;
        }
    }

    .alert__title{
        font-size: $font-size-md;
        font-weight: bold;
        letter-spacing: .2px;
        margin-bottom: 6px;
    }

    .alert__text{
        @media (min-width: $screen-sm-min){
            float: left;
        }
    }

.messages{
    position: fixed;
    left:0;
    right:0;
    top:0px;
    z-index: 200;
    margin-left: auto;
    margin-right: auto;

    @media (min-width: $screen-sm-min){
        width: 500px;
        top:20px;
    }
}