// Colors

$primary:    #0070c5;
$ng-secondary:  #e5eef7;
$light-secondary: #f0f2f5;
$success:    #00b77e;
$accent:    #00b77e;
$info:       #5bc0de;
$warning:    #f0ad4e;
$danger:     #d9534f;

$bg-color: #F2F4F5;
$bg-color-light: #fbfbfb;
$textColor: rgba(0,0,0,.87);
$off-black: rgba(0,0,0,.87) !default;
$light-textColor: rgba(0,0,0,.48);
$fade-white: rgba(255,255,255,.7);
$dark-blue: #aec8e0;
$light-blue2: #c9dced;
$ng-light-blue: #e5eef7;
$ng-primary-dark: #05387A;
$light-blue3: #e3ecfb;
$brand-warm: #f8f8ef;
$light-border-color: #d2d2d2;
$label-warning-color: #ffee95;

$lighten-opacity: .48;


$material-light: (
  'text': (
    'secondary': #808A93,
  ),
  'icons': (
    'active': #B3B9BE
  ),
);

//Global

$font-size: (
  'small': 14px,
  'base': 16px,
  'large': 18px
);

$line-height-base: 1.5;

$border-radius-root: 6px;
$heading-font-family: 'Ubuntu', 'Roboto', sans-serif;
$body-font-family: 'Roboto', sans-serif;
$text-letter-spacing: .02px;
$link-color: $primary;
$link-hover-color: $primary;

$border-color: #dedede;
$border-light: #efefef;
$text-base: rgba(0,0,0,.87);
$text-light:  #808A93;
$text-disabled: #AFB8C0;


// Grid
$grid-breakpoints: (
  'xs': 480px,
  'sm': 600px,
  'md': 960px,
  'lg': 1280px - 16px,
  'xl': 1920px - 16px
);

$container-max-widths: (
  'md': map-get($grid-breakpoints, 'md') * 0.9375,
  'lg': 1100px,
  'xl': 1100px
);

$container-narrow-width: 800px;

$spacer: 4px;
$grid-gutter: $spacer*6;
$container-padding-x: $grid-gutter;

// Headings

$headings: (
  'h1': (
    'size': 2.125rem, //34px
    'weight': 500,
    'line-height': 1.2,
    'letter-spacing': -.4px,
    'font-family': $heading-font-family,
    'text-transform': false
  ),
  'h2': (
    'size': 1.5rem, //24px
    'weight': 500,
    'line-height': 1.2,
    'letter-spacing': -.12px,
    'font-family': $heading-font-family,
    'text-transform': false
  ),
  'h3': (
    'size': 1.125rem, //18px
    'weight': 500,
    'line-height': 1.2,
    'letter-spacing': 0,
    'font-family': $heading-font-family,
    'text-transform': false
  ),
  'h4': (
    'size': 1rem,
    'weight': 500,
    'line-height': 1.2,
    'letter-spacing': 0,
    'font-family': $heading-font-family,
    'text-transform': false
  ),
  'h5': (
    'size': .8125rem,
    'weight': 500,
    'line-height': 1.2,
    'letter-spacing': .08px,
    'font-family': $heading-font-family,
    'text-transform': uppercase
  ),
  'subtitle-1': (
    'size': 1rem,
    'weight': normal,
    'line-height': 1.75rem,
    'letter-spacing': .009375em,
    'font-family': $body-font-family,
    'text-transform': false
  ),
  'subtitle-2': (
    'size': .875rem,
    'weight': 500,
    'line-height': 1.375rem,
    'letter-spacing': .0071428571em,
    'font-family': $body-font-family,
    'text-transform': false
  ),
  'body-1': (
    'size': 1rem,
    'weight': 400,
    'line-height': $line-height-base,
    'letter-spacing': 0,
    'font-family': $body-font-family,
    'text-transform': false
  ),
  'body-2': (
    'size': .875rem,
    'weight': 400,
    'line-height': 1.25rem,
    'letter-spacing': 0,
    'font-family': $body-font-family,
    'text-transform': false
  ),
  'caption': (
    'size': .75rem,
    'weight': 400,
    'line-height': 1.25rem,
    'letter-spacing': .0333333333em,
    'font-family': $body-font-family,
    'text-transform': false
  ),
  'overline': (
    'size': .75rem,
    'weight': 500,
    'line-height': 2rem,
    'letter-spacing': .1666666667em,
    'font-family': $body-font-family,
    'text-transform': uppercase
  )
);

// Elevations

$shadow-key-umbra-opacity: rgba(0, 0, 0, 0.12);
$shadow-key-penumbra-opacity: rgba(0, 0, 0, 0.07);
$shadow-key-ambient-opacity: rgba(0, 0, 0, 0.06);

// Buttons

$btn-letter-spacing: $text-letter-spacing;
$btn-text-transform: none;

$animationDuration: .3s;

// Input
$input-font-size: 14px;

// Footer

$footer-height: 30px;

// Auth
$auth-min-height: 630px;


// Header
$header-height: 52px;
$header-height-sm: 52px;


// Sidebar
$mobile-breakpoint: 1180px;

// Lists
$list-item-dense-title-font-size: 14px;
$list-item-dense-title-font-weight: 400;
