/* Forms */

.form-control{
    font-weight: 400;
    letter-spacing: .2px;

    &:focus,
    &:active,
    &:hover{
        box-shadow: none;
    }
}

.lte-ie9 .form-control{
    border-bottom: 1px solid $mdb-input-underline-color;
}

form{
    margin-top: 24px;

    &:first-child{
        margin-top:0;
    }

    .btn{
        margin-top:16px;
    }
}

.form-unstyled{
    .btn{
        margin-top:0;
    }
}

.form-group{
    margin-top:0;
    padding-bottom: 23px;
    line-height: 1;

    &.label-floating{
        margin-top: $mdb-label-top-margin-base + $mdb-input-font-size-base;
    }

    .form-control{
        color: #000;
        margin-bottom: $mdb-input-padding-small-vertical;

        @include placeholder(rgba(117,117,117,.5));
    }

    &:not(.label-floating){
        .control-label{
            margin-top:0;
        }
    }

    span.has-error{
        font-size: $font-size-small;
        color: $brand-danger;

        .errorlist{
            list-style-type: none;
            padding: 0;
            margin:0;
        }
    }

    &.has-error{

        .form-control{
            background-image: linear-gradient($brand-danger, $brand-danger), linear-gradient($brand-danger, $brand-danger);
            background-size: 100% 2px, 100% 1px;
        }

        .input-group-addon{
            color: inherit;
        }

        .help-block{
            display: none;
        }
    }

    label.control-label{
        color: rgba(0,0,0,.67);
    }

    .help-block{
        display: block;
        color: rgba(117,117,117,.5);
    }

    &--nopadding{
    	padding-bottom:0 !important;
    }
}

.lte-ie9 .form-group.has-error .form-control{
    border-bottom: 1px solid $brand-danger;
}

.form-group--light{
    @include form-group-variant(rgba(255,255,255, .8), #fff, #fff);
}

.input-group-addon{
    font-size: $font-size-md;
}

.form--small{
    max-width: 600px;

    .btn{
        margin-top: 0;
    }
}

.form-info{
    opacity: .8;
    margin-bottom: 5px;
}
    .form-group + .form-info{
        margin-top: -10px;
    }

.error-highlight{
    padding: 20px;
    margin-left: -20px;
    margin-right: -20px;
    background-color: fade-out($brand-danger, .9);
}

.control-label--required::after{
    content:"*";
    position: relative;
    top:1px;
    color: $brand-danger;
    margin-left:8px;
}


/* Big margins form */

.form--margin_big{
    .form-group{
        padding-bottom: 36px;

        &.label-floating{
            margin-top: 18px;
        }
        .control-label{
            margin-bottom: 4px;
        }
    }

    .form-group.label-static label.control-label,
    .form-group.label-floating.is-focused label.control-label,
    .form-group.label-floating:not(.is-empty) label.control-label{
        top: -34px;
    }

    .btn{
        margin-top:0;
    }
}

/* Select */

.select select,
.select-wrapper select{
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;

    &::-ms-expand {
        display: none;
    }
}

.select-wrapper select{
    position: relative;
}

.dropdownjs {
    font-weight: 400;

    & > ul{
        font-size: $font-size-md;
        padding-left:0;
        padding-right: 0;
        color:#000;
        &[placement=bottom-left]{
            top: 5px;
        }

        & > li{
            &:focus,
            &:active{
                outline:0;
            }

            &.selected{
                font-weight: bold;
                background-color: transparent;
            }

            &:hover{
                background-color: $blue-50;
            }

            &[value=""]{
                display: none;
            }
        }
    }

    & > input.select.focus{
        font-size: 0;
    }
}

.select-wrapper{
    position: relative;

    .select__icon{
        position: absolute;
        top: 8px;
        right:0;
        color: #999;
    }

    select{
        padding-right: 40px;
    }
}

.select--no-empty-option{
    option[value=""]{
        display: none;
    }
}

/* Dropdown */

.dropdown-toggle{
    &:hover,
    &:focus{
        text-decoration: none;
    }

    &:focus{
        color: $textColor;
    }

    &:hover{
        color: $brand-primary;

        .caret,
        .icon-caret{
            color: $brand-primary;
        }
    }
}

.navbar .dropdown-menu,
.dropdown-menu{
    .divider{
        background-color: rgba(0,0,0,.06);
        margin: 5px 0;
    }

    li a{
        &:hover,
        &:focus{
            color: $text-color;
            background-color: $navbar-default-brand-hover-bg;
        }
    }
}



.input-group{
    .form-group{
        margin:0;
        padding: 0;
    }
    .input-group-addon{
        padding:0;
    }
    .input-group-btn{
        padding-left: 12px;
        padding-right: 0;
    }
}

.input-group .form-control:last-child,
.input-group-addon:last-child,
.input-group-btn:last-child > .btn,
.input-group-btn:last-child > .btn-group > .btn,
.input-group-btn:last-child > .dropdown-toggle,
.input-group-btn:first-child > .btn:not(:first-child),
.input-group-btn:first-child > .btn-group:not(:first-child) > .btn {
  @include border-left-radius($btn-border-radius-base);
}

/* Radio */
.radio--inline{
	display: inline-block;
	margin-right: 20px;
}
.radio{
	margin-top:0;

	label{
		padding-left: 20px;

		span{
			left:0;
		}

		.radio__label{
			position: static;
		}

        .check{
            transform: scale(0, 0);
        }
	}

	input[type=radio]:checked{
        & ~ .radio__label{
		  color: $off-black;
        }

        & ~ .check {
          transform: scale(0.55, 0.55);
        }
	}

	&:hover{
		label{
			color: $off-black;
		}

		.circle{
			border-color: $brand-primary;
		}
	}

	& +.radio{
		margin-top:0;
	}
}

.radio + .form-group,
.radio-group + .form-group{
	transition: margin-top .3s;

	&.is-focused,
	&:not(.is-empty){
		margin-top: 18px;
	}
}dropdow