.v-btn
  font-family: $heading-font-family;
  font-weight: 500
  letter-spacing:0
  border: 0;

  &:not(.v-btn--depressed):not(.v-btn--flat)
    box-shadow: 0 1px 2px rgba(0, 0, 0, .24)

  &[type=reset],
  &[type=submit],
  &button,
  html &[type=button]
    border: 0
    appearance: none
    -webkit-appearance: none


  &--dark:hover:after
    background-color: transparent

.theme--light.v-btn
  color: #0070c5;