.v-btn
  text-transform: none
  height: auto
  font-weight: 500
  letter-spacing:0
  border: 0

  &[type=reset],
  &[type=submit],
  &button,
  html &[type=button]
    border: 0
    appearance: none
    -webkit-appearance: none


  &--dark:hover:after
    background-color: transparent

  &--small
    padding: 8px 16px;
    font-weight: 400;