.pagination
  margin-top: 24px

  &__item
    border:0
    box-shadow: none

    &:hover,
    &:active,
    &:focus
      color: $color-theme

    &--active
      elevation(4)

      &:hover,
      &:active,
      &:focus
        color: $color-light
        elevation(4)

  &__navigation
    box-shadow: none
    border: 0
    margin-left:0
    margin-riht:0