h1, .display-4
    font-family: $headings.h1.font-family
  
h2, .display-3
    font-family: $headings.h2.font-family 
  
h3, .display-2
    font-family: $headings.h3.font-family   
  
h4, .display-1
    font-family: $headings.h4.font-family 
  
h5, .headline
    font-family: $headings.h5.font-family 
  
h6, .title
    font-family: $headings.h6.font-family

.subheading
	font-family: $heading-font-family