/* Checkbox */

.checkbox .checkbox-material .check,
label.checkbox-inline .checkbox-material .check{
    border-width: 2px;
    margin-right: 6px;
    border-radius: 0;
}

.checkbox {
    label{
        position: relative;
        padding-left: 30px;
    }

    .checkbox-material{
        position: absolute;
        left:0;
        top:0;
    }

    span.has-error{
        display: inline-block;
        margin-top: 8px;
    }
}

.form-group{
    &.is-focused,
    &.has-error{
        label,
        label.control-label{
            color: $text-light;
        }
    }
}