/* Collapse */
[data-toggle=collapse]{
    &:hover,
    &:not(.collapsed){
        color: var(--v-primary-accent);
    }
}

.collapse{
  &:after,
  &:before{
    content: " ";
    display: table;
  }
}