/* Dropdown menu */

.navbar .dropdown-menu,
.dropdown-menu {
    border: 1px solid rgba(0,0,0,.06);
    margin-top: -5px;    

    li > a{
        font-size: inherit;
        padding-top: 6px;
        padding-bottom: 6px;
    }
}

.navbar .dropdown-menu{
    font-size: 14px;
}