/* Flex grid */

.flexbox-columns{
	@include display(flex);
  	@include flex-direction(row);
  	@include flex-wrap(wrap);
}

	.flex-col-xs-4, .flex-col-sm-4, .flex-col-md-4, .flex-col-lg-4,
	.flex-col-xs-6, .flex-col-sm-6, .flex-col-md-6, .flex-col-lg-6,
	.flex-col-xs-12, .flex-col-sm-12, .flex-col-md-12, .flex-col-lg-12{
		padding-left:  15px;
		padding-right: 15px;
	}

	.flex-col-xs-4{
		@include flex-basis(33.333%);
		max-width: 33.333%;
	}
	.flex-col-xs-6{
		@include flex-basis(50%);
		max-width: 50%;
	}
	.flex-col-xs-12{
		@include flex-basis(100%);
		max-width: 100%;
	}

	@media (min-width: $screen-sm-min){
		.flex-col-sm-4{
			@include flex-basis(33.333%);
			max-width: 33.333%;
		}
		.flex-col-sm-6{
			@include flex-basis(50%);
			max-width: 50%;
		}
		.flex-col-sm-12{
			@include flex-basis(100%);
			max-width: 100%;
		}
	}

	@media (min-width: $screen-md-min){
		.flex-col-md-4{
			@include flex-basis(33.333%);
			max-width: 33.333%;
		}
		.flex-col-md-6{
			@include flex-basis(50%);
			max-width: 50%;
		}
		.flex-col-md-12{
			@include flex-basis(100%);
			max-width: 100%;
		}
	}

	@media (min-width: $screen-lg-min){
		.flex-col-lg-4{
			@include flex-basis(33.333%);
			max-width: 33.333%;
		}
		.flex-col-lg-6{
			@include flex-basis(50%);
			max-width: 50%;
		}
		.flex-col-lg-12{
			@include flex-basis(100%);
			max-width: 100%;
		}
	}

.lte-ie9{
	.flex-col-xs-4, .flex-col-sm-4, .flex-col-md-4, .flex-col-lg-4,
	.flex-col-xs-6, .flex-col-sm-6, .flex-col-md-6, .flex-col-lg-6,
	.flex-col-xs-12, .flex-col-sm-12, .flex-col-md-12, .flex-col-lg-12{
		float: left;
	}

	.flex-col-xs-4{
		width: 33.333%;
	}
	.flex-col-xs-6{
		width: 50%;
	}
	.flex-col-xs-12{
		width: 100%;
	}

	@media (min-width: $screen-sm-min){
		.flex-col-sm-4{
			width: 33.333%;
		}
		.flex-col-sm-6{
			width: 50%;
		}
		.flex-col-sm-12{
			width: 100%;
		}
	}

	@media (min-width: $screen-md-min){
		.flex-col-md-4{
			width: 33.333%;
		}
		.flex-col-md-6{
			width: 50%;
		}
		.flex-col-md-12{
			width: 100%;
		}
	}

	@media (min-width: $screen-lg-min){
		.flex-col-lg-4{
			width: 33.333%;
		}
		.flex-col-lg-6{
			width: 50%;
		}
		.flex-col-lg-12{
			width: 100%;
		}
	}
}