/* Header menu */

.header-menu{
  display: inline-block;
  margin-left: 38px;
  vertical-align: top;
  position: relative;
  left: 4px;
  font-family: $heading-font-family;


  .header-menu__item{
    color: #212121;
    padding: 0 16px;
    display: inline-block;
    position: relative;
    margin-left: -4px;

    &::after{
      position: absolute;
      content: "";
      left: 0;
      bottom: 0;
      height: 3px;
      background: #0070c5;
      transition: max-width .4s;
      max-width: 0;
  }

  &:hover,
  &:focus,
  &:active{
      background-color: rgba(255,255,255,.24);
      color: #212121;
  }

  &.active{
      &::after{
        width: 100%;
        max-width: 200px;
      }

      &:hover{
        background-color: transparent;
      }
    }
  }
}