/* Header */

.header{
    position: fixed;
    left: 0;
    right:0;
    top:0;
    height:$header-height-sm;
    line-height: $header-height-sm;
    min-height: $header-height-sm;
    background-color: $ng-light-blue;
    z-index: 40;
    white-space: nowrap;
    backface-visibility: hidden;
    font-weight: 400;
    color: $off-black;
    //padding-left: 0;
    //padding-right: 0;
    font-size: 14px;
    width: 100%;
    border-bottom: 1px solid #d3e3f2;

    @media (min-width: map-get($grid-breakpoints, 'sm')){
        height:$header-height;
        line-height: $header-height;
    }

    h1, .h1{
        display: inline-block;
        font-size: map-get($font-size, 'base');
        line-height: $header-height-sm;
        margin:0;
        color: var(--v-primary-base);
        font-weight: 500;

        a,
        a:hover,
        a:focus,
        a:active{
          color: var(--v-primary-base);
        }

        @media (min-width: map-get($grid-breakpoints, 'sm')){
            line-height: $header-height;
        }
    }

    a{
        border-bottom: 0;
        text-decoration: none;
    }

    .btn{
        padding-left: 14px;
        padding-right: 14px;
    }


    .circle-btn{
        width:30px;
        height: 30px;
        border-radius: 50%;
        line-height: 30px;
        padding:0;
    }

    &__menu-btn{
      margin-left: -6px;
      margin-right: 6px;

      &.theme--light.v-icon {
        font-size: 24px;
        color: $dark-blue;
        vertical-align: middle;
      }

      &--content-sidebar {
        @media (min-width: $sidebar-breakpoint) {
          display: none !important;
        }
      }

      &--temporary-sidebar {
        @media (min-width: map-get($grid-breakpoints, 'md')) {
          display: none !important;
        }
      }


      & + .header__logo .logo--mini{
        margin-right: 2px;
      }
    }
}

.header__right{
  margin-right: -8px;
}

.header__logo{
    position: relative;
    display: inline-block;
    vertical-align: top;
    //padding-left: 10px;
    padding-right: 11px;
    margin-right: 10px;

    &:after{
        content:"";
        position: absolute;
        right:0;
        top: 0px;
        bottom: 0px;
        width: 1px;
        background-color: #b4d0ea;
    }

    @media (min-width: map-get($grid-breakpoints, 'sm')){
        //padding-left: 18px;
        padding-right: 19px;
        margin-right: 12px;

        &:after{
            top: 8px;
            bottom: 8px;
            width: 2px;
        }
    }
}

.header__plan{
    margin-left: 8px;

    @media (min-width: map-get($grid-breakpoints, 'sm')){
        margin-left: 12px;
    }
}

.header__user{
    float: right;
    display: inline-block;
    margin-left: 12px;

    &::not(:last-child){
      margin-right:12px;
    }
}