/* Layout */

html{
  line-height: 1.5;
  font-size: 14px;
  height: 100%;
}

body{
    height: 100%;
    color: $textColor;
    font-weight: 400;
    letter-spacing: .2px;
    background-color: $bg-color;
    font-size: $font-size-base;
}

.body--vcenter{
  .main{
    align-items: center;
  }
}

.body--wide{
  .main,
  .header,
  .footer{
    max-width: none;

    &.container{
      max-width: none;
    }
  }
}

.body--wide-header{
    .header{
        width: 100%;
        max-width: none;
    }
}

.body--minwidth{
    &_xs{
        min-width: $screen-xs-min;
    }
    &_sm{
        min-width: $screen-sm-min;
    }
    &_md{
        min-width: $screen-md-min;
    }
}

.body--grey{
  .main, .main.container{
    background-color: #f9f9f9;
  }
}

.app-content{
  background-color: #fff;
  min-height: calc(100vh - #{$header-height-sm} - #{$footer-height});

  @media (min-width: $screen-sm-min){
    min-height: calc(100vh - #{$header-height} - #{$footer-height});
  }
}

.main,
.main.container{
  font-size: $font-size-md;
  padding-top: $header-height-sm !important;
  background-color: #fff;

  @media (min-width: $screen-sm-min){
      padding-top:$header-height !important;
  }

  &__content,
  &__content.containe{
    padding: 40px 24px 100px;
  }
}

.layout-sidebar{
  width: 100%;

  &__content{
    transition: margin-left 0.6s cubic-bezier(0.4, 0, 0.2, 1);
    margin-left: 0;

    @media (min-width: $sidebar-breakpoint){
      margin-left: 200px;
    }
  }
}

.app-sidebar.v-navigation-drawer{
  position: fixed;
  top: $header-height-sm;
  bottom: 0;
  left: auto;
  width: 200px;
  padding: 24px 24px $footer-height;
  border-right: 1px solid #efefef;
  overflow: auto;

  &.v-navigation-drawer--is-mobile{
    z-index: 15;
  }

  @media (min-width: $screen-sm-min){
    top:$header-height !important;
  }

  &--content-sidebar{
    @media (min-width: $sidebar-breakpoint){
      transform: translateX(0px) !important;
    }
  }

  .sidebar-menu{
    margin-left: -24px;
  }
}