/* Layout */

html{
  line-height: 1.5;
  font-size: 14px;
  height: 100%;
}

body{
    height: 100%;
    color: $textColor;
    font-weight: 400;
    letter-spacing: .2px;
    background-color: $bg-color;
    font-size: $font-size-base;
}

.body--vcenter{
  .main{
    align-items: center;
  }
}

.body--wide{
  .main,
  .header,
  .footer{
    max-width: none;

    &.container{
      max-width: none;
    }
  }
}

.body--wide-header{
    .header{
        width: 100%;
        max-width: none;
    }
}

.body--minwidth{
    &_xs{
        min-width: $screen-xs-min;
    }
    &_sm{
        min-width: $screen-sm-min;
    }
    &_md{
        min-width: $screen-md-min;
    }
}

.body--grey{
  .main, .main.container{
    background-color: #f9f9f9;
  }
}

.app-content{
  background-color: #fff;
  min-height: calc(100vh - #{$header-height-sm} - #{$footer-height});

  @media (min-width: $screen-sm-min){
    min-height: calc(100vh - #{$header-height} - #{$footer-height});
  }
}

.main,
.main.container{
  font-size: $font-size-md;
  padding-top: $header-height-sm !important;
  background-color: #fff;

  @media (min-width: $screen-sm-min){
      padding-top:$header-height !important;
  }

  &__content,
  &__content.containe{
    padding: 40px 24px 100px;
  }
}

.layout-sidebar{
  width: 100%;

  &__content{
    margin-left: 200px;
  }

  &__sidebar,
  &__sidebar.v-navigation-drawer{
    position: absolute;
    top: 0;
    left: auto;
    width: 200px;
    z-index: 10;
    padding: 24px;
    border-right: 1px solid #efefef;
  }
}