a,
.v-application a{
  text-decoration: none;
  border-bottom: 1px solid;
  @include bordered-link($link-color);

  &:hover,
  &:focus,
  &:active{
      text-decoration: none;
      @include bordered-link($link-hover-color);
  }

  &.v-list-item--link{
    border-bottom: 0;
  }
}

.nolink,
.v-application .nolink{
  &,
  &:hover,
  &:focus,
  &:active {
    color: currentColor;
    text-decoration: none;
    border-bottom-width: 0;
  }
}


.fake-link,
.v-application .fake-link{
  border-bottom: 1px dashed;
  @include bordered-link($link-color);
  line-height: 1;

  h1,h2,h3,h4,
  .h1,.h2,.h3,.h4 {
    color: inherit;
  }

  &:hover,
  &:active{
    text-decoration: none;
    @include bordered-link($link-hover-color);
  }
}
.fake-link--icon{
  position: relative;

  &:after{
    font-family: "Material Icons";
    display: inline-block;
    font-size: 20px;
    content: "\E5C7";
    vertical-align: middle;
    margin-right: -1em;
  }

  &.collapsed:after{
    content: "\E5C5";
  }
}

.secondary-link,
.v-application .secondary-link{
  @include bordered-link($light-textColor);

  &:hover,
  &:active,
  &:focus{
   @include bordered-link($link-hover-color);
   .secondary-link__icon{
    color: $link-color;
  }
}
}

.secondary-link--small,
.v-application .secondary-link--small{
  font-size: map-get($font-size, 'base');

  .secondary-link__icon{
    font-size: 20px;
    margin-left: -25px;
  }
}

.secondary-link__icon{
  margin-right: 5px;
  vertical-align: middle;
  color: fade-out($light-textColor, .2);
}

.link--success,
.v-application .link--success{
  @include bordered-link($accent);

  &:hover,
  &:active{
   @include bordered-link(darken($accent, 15%));
 }
}

.anchor {
    display: block;
    height: $header-height-sm;
    margin-top: -$header-height-sm;
    visibility: hidden;

    @media (min-width: map-get($grid-breakpoints, 'sm')){
        height:$header-height;
        margin-top: -$header-height;
    }
}


