.fake-link,
.admin__panel__content .fake-link{
  border-bottom: 1px dashed;
  @include bordered-link($link-color);
  line-height: 1;

  h1,h2,h3,h4,
  .h1,.h2,.h3,.h4 {
    color: inherit;
  }

  &:hover,
  &:active{
    text-decoration: none;
    @include bordered-link($link-hover-color);
  }
}
.fake-link--icon{
  position: relative;

  &:after{
    font-family: "Material Icons";
    display: inline-block;
    font-size: 20px;
    @extend .material-icons, .icon-caret-up, :before;
    vertical-align: middle;
    margin-right: -1em;
  }

  &.collapsed:after{
    @extend .material-icons, .icon-caret, :before;
  }
}

.secondary-link,
.admin__panel__content .secondary-link{
  @include bordered-link($light-textColor);

  &:hover,
  &:active,
  &:focus{
   @include bordered-link($link-hover-color);
   .secondary-link__icon{
    color: $link-color;
  }
}
}

.secondary-link--small{
  font-size: $font-size-base;

  .secondary-link__icon{
    font-size: 20px;
    margin-left: -25px;
  }
}

.secondary-link__icon{
  margin-right: 5px;
  vertical-align: middle;
  color: fade-out($light-textColor, .2);
}

.link--success,
.admin__panel__content .link--success{
  @include bordered-link($brand-success);

  &:hover,
  &:active{
   @include bordered-link(darken($brand-success, 15%));
 }
}

.anchor {
    display: block;
    height: $header-height-sm;
    margin-top: -$header-height-sm;
    visibility: hidden;

    @media (min-width: $screen-sm-min){
        height:$header-height;
        margin-top: -$header-height;
    }
}


