/* Lists */

.list-inline{
  list-style: none;
  margin-bottom: 0;
}

.list-unstyled{
    list-style: none !important;
    padding-left: 0 !important;
}


.icon-list,
.text-content .icon-list{
  padding-left:0;
  margin-bottom: 30px;

  .icon-list__item{
    position: relative;
    padding-left:40px;
    margin-bottom: 16px;
  }
}

  .icon-list__icon{
    position: absolute;
    left:3px;
    top: -2px;
      color: #b7d5f3;
  }

  .icon-list__subitem{
    margin-bottom:4px;

    &:last-child{
      margin-bottom: 0;
    }
  }


.number-list,
.text-content .number-list{
  padding-left:0;
  margin-bottom: 30px;
  counter-reset: item;

  .number-list__item{
    position: relative;
    padding-left:40px;
    margin-bottom: 16px;
    counter-increment: item 1;

    &::after{
      content: counter(item);
        display: inline-block;
        position: absolute;
        left: 0;
        top: -1px;
        font-size: 16px;
        font-family: $heading-font-family;
        font-weight: bold;
        width: 24px;
        height: 24px;
        line-height: 24px;
        text-align: center;
        background-color: #e5eef7;
        color: var(--v-primary-base);
        border-radius: 50%;
    }
  }
}

.small-list,
.text-content .small-list{
  margin-top:8px;
  list-style-type: none;
  padding-left:0;
}
  .small-list__item{
    position: relative;
    padding-left:20px;
  }
  .small-list__item::before{
    content:"–";
    position: absolute;
    left:0;
    top: 0;
  }