/* Panel */
@import "~vuetify/src/styles/tools/_elevation.sass";

.panel{
    @include elevation(2);
    border-radius: 0;
}

.panel--warm{
    background-color: $brand-warm;
}
    .panel-body{
      padding: 20px;
    }

.panel--big{
   & > .panel-body{
        @media (min-width: map-get($grid-breakpoints, 'sm')){
            padding: 40px 40px 44px;
        }
    }
}

.panel--noshadow{
    box-shadow: none;
}

.panel--bordered{
    box-shadow: none;
    border: 1px solid #efefef;

    &.panel--warm{
        border-color: darken($brand-warm, 10%);
    }
}