/* Promo */

.promo{
    padding-top: 70px;
    padding-bottom: 75px;
}

.promo__title{
    font-size: 48px;
    font-weight: bold;
    letter-spacing: -.2px;
    color: $brand-primary;
}

.promo__text{
    font-size: 21px;
}

.main__content > .promo:first-child{
    margin-top: -40px;
}