/* Promo */

.promo{
    padding-top: 70px;
    padding-bottom: 75px;
}

.promo__title{
    font-size: 48px;
    font-weight: bold;
    letter-spacing: -.2px;
    color: var(--v-primary-base);
}

.promo__text{
    font-size: 21px;
}