/* Radio-panel */

.radio-panel{
	position: relative;
	display: block;
	max-width: 260px;
	vertical-align: middle;
	cursor: pointer;
	color: $textColor;
	margin-bottom: 0;

	.radio-panel__bg{
		position: absolute;
		width: 100%;
		height: 100%;
		left:0;
		top:0;
		border: 1px solid $light-border-color;
		border-radius: 4px;
	}

	.radio-panel__content{
		position: relative;
		padding: 14px;
		line-height: 1.2;
		z-index: 2;
	}

	&:hover{
		z-index: 2;
		.radio-panel__bg{
			border-color: fade-out($primary, .55);
		}
	}

	input[type=radio]:not(.fake-hidden){
		display: none;
	}

	input[type=radio]:checked{
        & ~ .radio-panel__bg{
        	border-color: fade-out($primary, .55);
			background-color: fade-out($ng-light-blue, .35);
			z-index: 2;
        }
	}
}

