/* Text content */

.text-content{

    ul, ol{
        padding-left: 20px;
        margin-top: 15px;
        margin-bottom: 20px;


        li{
            margin-bottom: 6px;
        }
    }

    .pic{
        max-width: 100%;
    }
}
