@import "./mixins.scss";

@mixin generate-typography(){
  @each $key, $value in $headings {
    #{$key}, .#{$key} {
      font-size: map-get($value, 'size');
      font-family: map-get($value, 'font-family');
      font-weight: map-get($value, 'weight');
      line-height: map-get($value, 'line-height');
      letter-spacing: map-get($value, 'letter-spacing');
      @if map-get($value, 'text-transform') {
        text-transform: map-get($value, 'text-transform');
      }
    }
  }
}

@include generate-typography();

h1, h2, h3,
.h1, .h2, .h3 {
  margin-top: 48px;
  margin-bottom: 24px;

  &:first-child{
    margin-top: 0;
  }
}

small, .small{
  font-size: 14px;
}

.num-title{
    counter-increment: num-title;

    &:before{
        content: counter(num-title)".";
        display: inline-block;
        margin-right: 6px;
    }
}

p{
    //margin-bottom: 1.25em;
    &:last-child{
        margin-bottom: 0;
    }
}

.strong-link{
    font-weight: bold;
    letter-spacing: .4px;
}

.spacer{
    margin: 0 10px;
    color:$light-textColor;
}

.info-text{
    position: relative;
    padding-left: 20px;
    margin-left: -20px;

    &:after{
        content:"!";
        position: absolute;
        font-size: 30px;
        color: var(--v-primary-base);
        top: 1px;
        left: 6px;
        line-height: 1;
    }

    @media (min-width: map-get($grid-breakpoints, 'sm')){
        padding-left: 30px;
        margin-left: -30px;

            &:after{
            font-size: 36px;
            left: 10px;
        }
    }
}


.bordered-title{
    position: relative;
    @include uppercase-text();
    letter-spacing: 2px;
    color: var(--v-primary-base);
    display: inline-block;
    padding-right: 30px;
    border-bottom: 3px solid;
    padding-bottom: 8px;
    margin-bottom: 24px;
    font-size: 14px;
    font-family: $heading-font-family;

    &--link{
        color: var(--v-primary-accent);
        &::after{
            content: "";
            width: 15px;
            position: absolute;
            height: 15px;
            border-top: 3px solid;
            transform: rotate(45deg);
            border-right: 3px solid;
            bottom: -9px;
            right: 0px;
        }

        &:hover,
        &:active,
        &:focus{
            color: var(--v-primary-accent);
            border-color: var(--v-primary-accent);
            opacity: .8;
        }
    }
}

.text-ellipsed{
    text-overflow: ellipsis;
    overflow: hidden;
}

.text-muted--light{
    color: $fade-white;
}

.text-linethrough{
    text-decoration: line-through;
}
