@import "./mixins.scss";

/* Typography */

h1,h2,h3,h4,
.h1,.h2,.h3,.h4{
    font-family: $headings-font-family;
    color: $off-black;
    margin-bottom: 10px;
    letter-spacing: 0;
    font-weight: 500;

    @media (min-width: $screen-md-min){
        margin-bottom: 20px;
    }
}

h1, .h1{
    font-size: 28px;
    margin-bottom: 32px;
    font-weight: 700;

    &:first-child{
        margin-top:0;
    }

    & + h2,
    & + .h2{
        margin-top: 32px;
    }
}


h2, .h2{
    font-size: 20px;
    margin-top: 48px;
    margin-bottom: 24px;

    &:first-child{
        margin-top:0;
    }
}

a{
    text-decoration: none;
    border-bottom: 1px solid;
    @include bordered-link($link-color);

    &:hover,
    &:focus,
    &:active{
        text-decoration: none;
        @include bordered-link($link-hover-color);
    }
}

small, .small{
    font-size: 14px;
}

.num-title{
    counter-increment: num-title;

    &:before{
        content: counter(num-title)".";
        display: inline-block;
        margin-right: 6px;
    }
}

p{
    margin-bottom: 1.25em;
    &:last-child{
        margin-bottom: 0;
    }
}

.strong-link{
    font-weight: bold;
    letter-spacing: .4px;
}

.spacer{
    margin: 0 10px;
    color:$light-textColor;
}

.info-text{
    position: relative;
    padding-left: 20px;
    margin-left: -20px;

    &:after{
        content:"!";
        position: absolute;
        font-size: 30px;
        color: $brand-primary;
        top: 1px;
        left: 6px;
        line-height: 1;
    }

    @media (min-width: $screen-sm-min){
        padding-left: 30px;
        margin-left: -30px;

            &:after{
            font-size: 36px;
            left: 10px;
        }
    }
}


.bordered-title{
    position: relative;
    @include uppercase-text();
    letter-spacing: 2px;
    color: $brand-primary;
    display: inline-block;
    padding-right: 30px;
    border-bottom: 3px solid;
    padding-bottom: 8px;
    margin-bottom: 24px;
    font-size: 14px;
    font-family: $headings-font-family;

    &--link{
        color: $brand-success;
        &::after{
            content: "";
            width: 15px;
            position: absolute;
            height: 15px;
            border-top: 3px solid;
            transform: rotate(45deg);
            border-right: 3px solid;
            bottom: -9px;
            right: 0px;
        }

        &:hover,
        &:active,
        &:focus{
            color: $brand-success;
            border-color: $brand-success;
            opacity: .8;
        }
    }
}

.text-ellipsed{
    text-overflow: ellipsis;
    overflow: hidden;
}

.text-muted--light{
    color: $fade-white;
}

.text-linethrough{
    text-decoration: line-through;
}
