/* User dropdown */

.user-dropdown__link{
    display: inline-block;
    color: $text-base;
    font-family: $heading-font-family;

    .user-photo{
        @media (min-width: map-get($grid-breakpoints, 'sm')){
            margin-right: 2px;
        }
    }

    .icon-caret{
        margin-left: -4px;
    }
}