/* User dropdown */

.user-dropdown__link{
    display: inline-block;
    color: $text-color;
    font-family: $heading-font-family;

    .user-photo{
        @media (min-width: $screen-sm-min){
            margin-right: 2px;
        }
    }

    .icon-caret{
        margin-left: -4px;
    }
}