/* Video */
@import "~vuetify/src/styles/tools/_elevation.sass";

.video{
	@include elevation(16);
	padding: 24px;
}

	.video__caption{
		font-size: 14px;
		text-align: right;
		margin-top: 6px;
		margin-bottom: -4px;
	}