.breadcrumb{
    background-color: transparent;
    @include uppercase-text();
    color: $light-textColor;
    padding: 8px 0;
    margin-bottom: 0;

    a{
        color: $light-textColor;

        &:hover,
        &:active,
        &:focus,
        &:active:focus{
            color: $brand-primary;
            text-decoration: none;
        }
    }
}