
@import "~bourbon/app/assets/stylesheets/_bourbon";
@import "icons/fontello";
@import "~dropdown.js/jquery.dropdown";
@import "~vue2-animate/src/sass/vue2-animate";
@import "~vuetify/src/styles/tools/_index";


/* Custom Stylesheet */

@include font-face("Roboto", "~@nextgis_common/assets/fonts/roboto-light", 300, normal);
@include font-face("Roboto", "~@nextgis_common/assets/fonts/roboto-regular", 400, normal);
@include font-face("Roboto", "~@nextgis_common/assets/fonts/roboto-medium", 500, normal);
@include font-face("Roboto", "~@nextgis_common/assets/fonts/roboto-bold", 700, normal);

@font-face {
  font-family: "Rouble";
  src: url("~@nextgis_common/assets/fonts/rouble.eot");
  src: url("~@nextgis_common/assets/fonts/rouble.eot?#iefix") format("embedded-opentype"), url("~@nextgis_common/assets/fonts/rouble.woff") format("woff"), url("~@nextgis_common/assets/fonts/rouble.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@import "partials/mixins";
@import "partials/colors";
@import "partials/global";
@import "partials/app";
@import "partials/layout";
@import "partials/typography";
@import "partials/links";
@import "partials/lists";
//@import "partials/logo";
@import "partials/table-grid";
//@import "partials/header";
//@import "partials/header-menu";
@import "partials/dropdown-menu";
@import "partials/user-dropdown";
@import "partials/image-select";
@import "partials/modals";
@import "partials/collapse";
@import "partials/checkbox";
@import "partials/panel";
@import "partials/inner-form";
@import "partials/success-block";
@import "partials/buttons";
@import "partials/section";
@import "partials/text-content";
//@import "partials/footer";

.facebook-color{
    color: facebook-color();
}
.vk-color{
    color: vk-color();
}
.twitter-color{
    color: twitter-color();
}
.google-color{
    color: google-color();
}


/* Global */

.circle{
    border-radius: 50%;
}

.noshadow{
	box-shadow: none !important;
}

.fake-hidden{
  position: absolute;
  visibility: hidden;
}

.rouble{
    font-family: "Rouble";
    line-height: 1;
}

.bold-text{
    @include bold-text();
}

.smaller-text{
    font-size: .6em;
}

.nowrap{
    white-space: nowrap;
}

.nopadding{
  padding:0;
}

[v-cloak]{
    display: none;
}

*:focus,
*:active,
*:hover,
*:focus:active {
    outline: 0;
}
a{
    &:focus,
    &:active,
    &:hover,
    &:focus:active {
        outline: 0;
    }
}

.vcenter{
    vertical-align: middle;
}

.break-word{
    word-wrap: break-word;
}

.close:hover, .close:focus{
    text-shadow: none;
}

@media (max-width: map-get($grid-breakpoints, 'sm')){
    .hide-on-xs{
        display:none !important;
    }
}
@media (max-width: map-get($grid-breakpoints, 'md')){
    .hide-on-sm{
        display:none !important;
    }
}
@media (max-width: map-get($grid-breakpoints, 'lg')){
    .hide-on-md{
        display:none !important;
    }
}
@media (max-width:  map-get($grid-breakpoints, 'xl')){
    .hide-on-lg{
        display:none !important;
    }
}

/* Columns */
.three-columns{

    @media (min-width: map-get($grid-breakpoints, 'sm')){
      column-count: 2;
    }

    @media (min-width:  map-get($grid-breakpoints, 'md')){
      column-count: 3;
    }
    ul, ol {
        margin-top:0;

        li{
            -webkit-column-break-inside: avoid;
            page-break-inside: avoid;
            break-inside: avoid;
        }
    }
}

.row--big{
    margin-left: -20px;
    margin-right: -20px;

    @media (min-width: map-get($grid-breakpoints, 'lg')){
        margin-left: -10px;
        margin-right: -10px;
    }
}

.col--big{
    padding-left: 20px;
    padding-right: 20px;

    @media (min-width:  map-get($grid-breakpoints, 'lg')){
        padding-left: 30px;
        padding-right: 30px;
    }

    &.col-xs-12{
        margin-bottom: 30px;

        @media (min-width:  map-get($grid-breakpoints, 'sm')){
            margin-bottom: 0;
        }
    }
}

.col-xs-mb {
    margin-top: 20px;
    &:first-child {
        margin-top: 0;
    }
    @media (min-width:  map-get($grid-breakpoints, 'sm')) {
        margin-top: 0;
    }
}

.col-sm-mb {
    margin-top: 20px;
    &:first-child {
        margin-top: 0;
    }
    @media (min-width:  map-get($grid-breakpoints, 'md')) {
        margin-top: 0;
    }
}

/* Icons */
[class^="icon-"], [class*=" icon-"]{
    &:before{
        display: inline-block;
        width: auto;
    }
}
.material-icons{
    &:before{
        font-family: 'Material Icons';
        display: block;
    }
    &.exit_to_app:before{
        content:"\E879";
    }

    &.person_outline:before{
        content:"\E7FF";
    }

    &.icon-close:before{
        content:"\E5CD";
    }

    &.error_outline:before{
        content:"\E001";
    }

    &.add_a_photo:before{
        content:"\E439";
    }
    &.icon-menu:before{
        content:"\E5D2";
    }
    &.edit:before{
        content:"\E3C9";
    }
    &.icon-caret:before{
        content:"\E5C5";
    }
    &.icon-caret-up:before{
        content:"\E5C7";
    }
    &.arrow_back:before{
        content:"\E5C4";
    }

    &.textsms:before{
        content:"\E0D8";
    }
    &.feedback:before{
        content:"\E87F";
    }
    &.add:before{
        content: "\E145"
    }
}

.circle-icon,
.square-icon{
    display: inline-block;
    height: 40px;
    min-width: 40px;
    width: 40px;
    border: 2px solid;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: map-get($font-size, 'base');
}

.square-icon{
    border-radius: $border-radius-root;
}

/* Alerts */
.alert{
    position: relative;
    left:0;
    right:0;
    top:0;
    z-index: 2;
    margin:0;
    padding: 15px 40px 15px 15px;
    @include slideInDown();
    @include elevation(6);

    &:first-child{
        margin-top:0;
    }


    .close{
        position:absolute;
        width: 40px;
        height: 40px;
        right: 0;
        top: 0;
        font-size: 30px;
        font-weight: normal;
        border-bottom: 0;
    }

    @media (min-width:  map-get($grid-breakpoints, 'sm')){
        margin-top: 20px;
    }

    &.alert-warning{
        color: rgba(0,0,0,.6);

        a{
            color: var(--v-primary-base);
        }
    }

    &.alert-info{
        a{
            border-color: rgba(255,255,255,.4);
        }
    }
}

.admin__panel__content .alert .close{
    border-bottom: 0;
    color: #000;
}

.alert__inner{
    position: relative;
    padding-right: 40px;

    .close{
        top: -10px;
    }
}

    .alert__icon{
        display: none;
        width: 100px;
        height: 100px;
        float: left;
        margin-right: 20px;

        @media (min-width:  map-get($grid-breakpoints, 'sm')){
            display: block;
        }
    }

    .alert__title{
        font-size: map-get($font-size, 'base');
        font-weight: bold;
        letter-spacing: .2px;
        margin-bottom: 6px;
    }

    .alert__text{
        @media (min-width:  map-get($grid-breakpoints, 'sm')){
            float: left;
        }
    }

.messages{
    position: fixed;
    left:0;
    right:0;
    top:0px;
    z-index: 200;
    margin-left: auto;
    margin-right: auto;

    @media (min-width:  map-get($grid-breakpoints, 'sm')){
        width: 500px;
        top:20px;
    }
}

/* Labels */

.label{
    padding: 5px 8px;
}
.label-success{
    color: #fff;
}

.label-ribbon{
    position: absolute;
    right: -8px;
    top: 10px;
    background-color: $label-warning-color;
    color: $text-base;
    font-size: 12px;
    line-height: 1.1;
    letter-spacing: .5px;
    padding: 5px 8px;
    @include elevation(2);
    z-index: 2;

    &::after{
        content: "";
        width: 0;
        height: 0;
        border-width: 2px 4px;
        border-style: solid;
        position: absolute;
        //border-color: #9a8d4a transparent transparent #9a8d4a;
        border-color: darken($label-warning-color, 40%) transparent transparent darken($label-warning-color, 40%);
        top: 100%;
        right: 0;
    }
}


/* Forms */

.form-control{
    font-weight: 400;
    letter-spacing: .2px;

    &:focus,
    &:active,
    &:hover{
        box-shadow: none;
    }
}


form{
    margin-top: 24px;

    &:first-child{
        margin-top:0;
    }

    .btn{
        margin-top:16px;
    }
}

.form-unstyled{
    .btn{
        margin-top:0;
    }
}

.form-group{
    margin-top:0;
    padding-bottom: 23px;
    line-height: 1;

    &.label-floating{
        margin-top: 16px;
    }

    .form-control{
        color: #000;
        margin-bottom: 4px;

        &::placeholder{
          color: rgba(117,117,117,.5);
        }
    }

    &:not(.label-floating){
        .control-label{
            margin-top:0;
        }
    }

    span.has-error{
        font-size: map-get($font-size, 'small');
        color: $danger;

        .errorlist{
            list-style-type: none;
            padding: 0;
            margin:0;
        }
    }

    &.has-error{

        .form-control{
            background-image: linear-gradient($danger, $danger), linear-gradient($danger, $danger);
            background-size: 100% 2px, 100% 1px;
        }

        .input-group-addon{
            color: inherit;
        }

        .help-block{
            display: none;
        }
    }

    label.control-label{
        color: rgba(0,0,0,.67);
    }

    .help-block{
        display: block;
        color: rgba(117,117,117,.5);
    }

    &--nopadding{
    	padding-bottom:0 !important;
    }
}

.lte-ie9 .form-group.has-error .form-control{
    border-bottom: 1px solid $danger;
}


.input-group-addon{
    font-size: map-get($font-size, 'base');
}

.form--small{
    max-width: 600px;

    .btn{
        margin-top: 0;
    }
}

.form-info{
    opacity: .8;
    margin-bottom: 5px;
}
    .form-group + .form-info{
        margin-top: -10px;
    }

.error-highlight{
    padding: 20px;
    margin-left: -20px;
    margin-right: -20px;
    background-color: fade-out($danger, .9);
}

.control-label--required::after{
    content:"*";
    position: relative;
    top:1px;
    color: $danger;
    margin-left:8px;
}


/* Big margins form */

.form--margin_big{
    .form-group{
        padding-bottom: 36px;

        &.label-floating{
            margin-top: 18px;
        }
        .control-label{
            margin-bottom: 4px;
        }
    }

    .form-group.label-static label.control-label,
    .form-group.label-floating.is-focused label.control-label,
    .form-group.label-floating:not(.is-empty) label.control-label{
        top: -34px;
    }

    .btn{
        margin-top:0;
    }
}

/* Select */

.select select,
.select-wrapper select{
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;

    &::-ms-expand {
        display: none;
    }
}

.select-wrapper select{
    position: relative;
}

.dropdownjs {
    font-weight: 400;

    & > ul{
        font-size: map-get($font-size, 'base');
        padding-left:0;
        padding-right: 0;
        color:#000;
        &[placement=bottom-left]{
            top: 5px;
        }

        & > li{
            &:focus,
            &:active{
                outline:0;
            }

            &.selected{
                font-weight: bold;
                background-color: transparent;
            }

            &[value=""]{
                display: none;
            }
        }
    }

    & > input.select.focus{
        font-size: 0;
    }
}

.select-wrapper{
    position: relative;

    .select__icon{
        position: absolute;
        top: 8px;
        right:0;
        color: #999;
    }

    select{
        padding-right: 40px;
    }
}

.select--no-empty-option{
    option[value=""]{
        display: none;
    }
}

/* Dropdown */

.dropdown-toggle{
    &:hover,
    &:focus{
        text-decoration: none;
    }

    &:focus{
        color: $textColor;
    }

    &:hover{
        color: var(--v-primary-base);

        .caret,
        .icon-caret{
            color: var(--v-primary-base);
        }
    }
}

.input-group{
    .form-group{
        margin:0;
        padding: 0;
    }
    .input-group-addon{
        padding:0;
    }
    .input-group-btn{
        padding-left: 12px;
        padding-right: 0;
    }
}

.input-group .form-control:last-child,
.input-group-addon:last-child,
.input-group-btn:last-child > .btn,
.input-group-btn:last-child > .btn-group > .btn,
.input-group-btn:last-child > .dropdown-toggle,
.input-group-btn:first-child > .btn:not(:first-child),
.input-group-btn:first-child > .btn-group:not(:first-child) > .btn {
  @include border-left-radius($border-radius-root);
}

/* Radio */
.radio--inline{
	display: inline-block;
	margin-right: 20px;
}
.radio{
	margin-top:0;

	label{
		padding-left: 20px;

		span{
			left:0;
		}

		.radio__label{
			position: static;
		}

        .check{
            transform: scale(0, 0);
        }
	}

	input[type=radio]:checked{
        & ~ .radio__label{
		  color: $off-black;
        }

        & ~ .check {
          transform: scale(0.55, 0.55);
        }
	}

	&:hover{
		label{
			color: $off-black;
		}

		.circle{
			border-color: var(--v-primary-base);
		}
	}

	& +.radio{
		margin-top:0;
	}
}

.radio + .form-group,
.radio-group + .form-group{
	transition: margin-top .3s;

	&.is-focused,
	&:not(.is-empty){
		margin-top: 18px;
	}
}

/* Cards */
.card {
    @include elevation(2);

    .card-footer,
    .card-body,
    .card-image{
        height: auto;
    }
}
    .card-footer{
        border-top: 1px solid #efefef;
    }

/* Social link */

.social{
    float:right;
    margin-bottom: 0;

    @media (min-width: map-get($grid-breakpoints, 'sm')){
        float: none;
        position: fixed;
        right: 12px;
        bottom: 12px;
    }

    .social__item--inline{
        display: inline-block;
        padding-left: 5px;
        padding-right: 5px;

        .social__link{
            width: 1em;
            text-align: center;
            margin-top:0;

            &.icon-facebook{
                position: relative;
                top:-1px;
            }

            &.icon-google{
                position: relative;
                top:1px;
                left:0;
            }
        }
    }

    .social__link{
        display: inline-block;
        font-size:14px;
        color: $text-light;
        text-decoration: none;
        border:0;
        width: 1em;

        @media (min-width: map-get($grid-breakpoints, 'sm')){
            width:auto;
            margin-top: 8px;
        }

        &:hover,
        &:active,
        &:focus{
            color: var(--v-primary-base);
            text-decoration: none;
        }

        &.icon-facebook{
            position: relative;
            top:-1px;

            @media (min-width: map-get($grid-breakpoints, 'sm')){
                top:0;
            }
        }
        &.icon-google{
            position: relative;
            top:1px;

            @media (min-width: map-get($grid-breakpoints, 'sm')){
                left: 3px;
                top:0;
            }
        }
    }
}

    .social__item{
        display: inline-block;
        padding-left: 5px;
        padding-right: 5px;
        text-align: center;

        @media (min-width:  map-get($grid-breakpoints, 'sm')){
            display: block;
            padding-left: 0;
            padding-right: 0;
        }
    }




.auth {
  .main{
    min-height: 100%;
  }

  .footer{
    background-color: transparent;
    margin-top: -$footer-height;

    .footer-menu a{
      color: rgba(255, 255, 255, .64);
      border-bottom-color: rgba(255, 255, 255, .24);

      &:hover{
        color: rgb(255, 255, 255)
      }
    }
  }
}


.aside-text{
    margin-bottom: 40px;

    @media (min-width:  map-get($grid-breakpoints, 'md')){
        padding-left: 25px;
    }
}

/* Profile social */
.profile-social{
    margin-top: 60px;
}

.profile-social__list__item{
    margin-bottom: 18px;
    max-width: 500px;

    .square-icon{
        margin-right: 12px;
        vertical-align: middle;
        color: #fff;
        background-color: $dark-blue;
        border:0;
    }

    .btn{
        margin-left: -4px;
    }
}

/* User info */
.user-photo{
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    vertical-align: middle;
    overflow: hidden;
    text-align: center;
    position: relative;
    top: -1px;

    img{
        width: 100%;
        height: 100%;
        border-radius: 50%;
    }
}
    .user-photo__icon{
        display: inline-block;
        background-color: rgba(153, 153, 153, 0.13);
        width: 100%;
        height: 100%;
        line-height: inherit;
        border-radius: 50%;

        &:before{
            position: relative;
            top: -1px;
        }
    }

    a:hover{
        .user-photo__icon {
            color: var(--v-primary-base);
        }
    }

/* Profile form */
.profile__personal{
    @media (min-width:  map-get($grid-breakpoints, 'sm')){
        padding-left: 170px;
        margin-bottom: 17px;
    }
}

    .pic-upload{
        &.pic-upload--dropzone{
            .dropzone{
                opacity: 1;
                background-color:rgba(0,0,0,.4);
                font-size: 13px;
                color: #fff;
                padding: 10px;
                padding-top: 30px;
            }
        }
    }
        .pic-upload__inner{
            position: relative;

            &:hover{
                .pic-upload__delete{
                    opacity: 1;
                }
            }
        }

            .pic-upload__edit,
            .admin__panel__content .pic-upload__edit{
                position: absolute;
                width: 30px;
                height: 30px;
                right: 0;
                bottom:0;
                text-align: center;
                line-height: 30px;
                font-size: 20px;
                color: #fff;
                background-color: rgba(0,0,0,.4);
                transition: opacity .4s;
                opacity: 1;
                z-index: 2;

                &:hover{
                    text-decoration: none;
                    color:#fff;
                    opacity: .75;
                }

                &:active,
                &:focus{
                    color:#fff;
                    text-decoration: none;
                }
            }
            .pic-upload__delete{
                right: -5px;
                position: absolute;
                top: -5px;
                background: var(--v-primary-base);
                font-size: map-get($font-size, 'base');
                color: #fff;
                width: 20px;
                height: 20px;
                line-height: 20px;
                text-align: center;
                opacity: 0;
                transition: opacity .4s, transform .4s;
                border-radius: 50%;
                z-index: 3;
                backface-visibility: hidden;

                &:hover{
                    transform: scale(1.1);
                    background-color: #24749b;
                }

                &:hover,
                &:active,
                &:focus{
                    text-decoration: none;
                    color:#fff;
                }
            }

            .dropzone{
                position: absolute;
                left: 0px;
                top: 0px;
                right: 0px;
                bottom: 0px;
                border: 1px dashed #bdbdbd;
                opacity: 0;
                transition: opacity .4s;
                text-align: center;

                &:after{
                    content:"";
                    position: absolute;
                    left: 2px;
                    top: 2px;
                    right: 2px;
                    bottom: 2px;
                    border: 1px dashed #fff;
                    opacity: .5;
                };
            }

    .profile__personal__photo{
        margin-bottom: 20px;
        @media (min-width:  map-get($grid-breakpoints, 'sm')){
            float: left;
            margin-left: -170px;
        }
    }
    .profile__photo__inner{
        width: 129px;
        height:129px;
    }
        .profile__photo__pic{
            width: 100%;
        }

    .profile__personal__data{
        overflow: hidden;
    }

/* Breadcrumbs */
.breadcrumb{
    background-color: transparent;
    @include uppercase-text();
    color: $text-light;
    padding: 8px 0;
    margin-bottom: 0;

    a{
        color: $text-light;

        &:hover,
        &:active,
        &:focus,
        &:active:focus{
            color: var(--v-primary-base);
            text-decoration: none;
        }
    }
}

/* error-block */
.error-block{
    font-size: map-get($font-size, 'base');
    text-align: center;

    @media (min-width:  map-get($grid-breakpoints, 'lg')){
        font-size: map-get($font-size, 'large');
    }

    .error-block__title{
        line-height: $line-height-base;
        margin: 15px -10px 10px;
        font-size: 20px;
        text-transform: none;
        font-weight: normal;
        letter-spacing: normal;

        @media (min-width:  map-get($grid-breakpoints, 'sm')){
            font-size: 22px;
            margin: 0 0 5px;
        }

        @media (min-width:  map-get($grid-breakpoints, 'md')){
            font-size: 24px;
        }
    }
}
    .error-block__number{
        font-size: 100px;
        font-weight: bold;
        color: #176FC1;
        line-height: 1;
        margin-top: -24px;
        letter-spacing: 2px;

        @media (min-width:  map-get($grid-breakpoints, 'sm')){
            font-size: 150px;
        }

        @media (min-width:  map-get($grid-breakpoints, 'md')){
            font-size: 175px;
        }
    }

    .error-block__descr{
        max-width: 650px;
        margin-left: auto;
        margin-right: auto;
    }

    .error-block__btn{
        margin-top: 50px;
    }

/* Instancce form */

.instance-form{
    .instance-form__address{
        width: 285px;
    }
}

.admin__panel__content .docs-list{
    padding-left:0;
}

.webgis-newpassword{
    margin-bottom: 44px;
}


/* Userreport custom style */

#crowd-shortcut{
    margin-bottom: 0px;

    @media (min-width:  map-get($grid-breakpoints, 'sm')){
        margin-bottom: 60px;
    }
}

.urp-no-hide .no-touch .no-results a{
    text-decoration: none;
}

/* Info sidebar */

.sidebar-info{
    @include stretch-block-sm();

    @media(max-width:  map-get($grid-breakpoints, 'sm')){
        box-shadow: none;
        padding-left:0;
        padding-right: 0;
        margin-top: 48px;
    }
}
    .sidebar-info__title{
        margin-bottom: 8px;
    }

/* Animations */

@-webkit-keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
