
@require './custom-vuetify/_theme'
@require './custom-vuetify/_variables'

@require "~vuetify/src/stylus/main"

@require './custom-vuetify/typography'
@require "./custom-vuetify/pagination"
@require "./custom-vuetify/buttons"
@require "./custom-vuetify/icons"
@require "./custom-vuetify/cards"