
@require '~vuetify/src/stylus/settings/_colors';
@require '~vuetify/src/stylus/settings/_theme';
@require './custom-vuetify/_theme'
@require './custom-vuetify/_variables'

@require '~vuetify/src/stylus/settings/_elevations';
@require '~vuetify/src/stylus/generic/_elevations.styl'
@require '~vuetify/src/stylus/generic/_bootstrap'
@require '~vuetify/src/stylus/elements/_typography'
@require '~vuetify/src/stylus/trumps/_spacing'

@require "~vuetify/src/stylus/components/_grid"
@require "~vuetify/src/stylus/components/_ripples"
@require "~vuetify/src/stylus/components/_pagination"
@require "~vuetify/src/stylus/components/_buttons"
@require "~vuetify/src/stylus/components/_icons"
@require "~vuetify/src/stylus/components/_dialogs"
@require "~vuetify/src/stylus/components/_cards"
@require "~vuetify/src/stylus/components/_overlay"
@require "./custom-vuetify/pagination"
@require "./custom-vuetify/buttons"
@require "./custom-vuetify/icons"
@require "./custom-vuetify/cards"