@require '~vuetify/src/stylus/settings/_colors';
@require './custom-vuetify/_theme'
@require './custom-vuetify/_variables'
@require '~vuetify/src/stylus/tools/_elevations.styl'

@require '~vuetify/src/stylus/tools/_mixins'
@require '~vuetify/src/stylus/generic/_bootstrap'

@require "~vuetify/src/stylus/components/_ripple"
@require "~vuetify/src/stylus/components/_pagination"
@require "~vuetify/src/stylus/components/_buttons"
@require "~vuetify/src/stylus/components/_icons"
@require "./custom-vuetify/pagination"
@require "./custom-vuetify/buttons"
@require "./custom-vuetify/icons"