{% load i18n %}
{% load gravatar %}

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui"/>
<meta name="description" data-vmid="description" content="{% block description %}{% endblock %}" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link href="https://fonts.googleapis.com/css?family=Ubuntu:400,400i,500,600,700&amp;subset=cyrillic-ext" rel="stylesheet">
<style>
  [v-cloak] { display:none; }
</style>

{% get_current_language as LANGUAGE_CODE %}
<script>
  var locale = "{{ LANGUAGE_CODE }}";
  var currentPage = {
    id: "{{ MENU_ACTIVE_ITEM_ID }}",
  };

  {% if request.user.is_authenticated %}
    var userInfo = {
      isAuthenticated: true,
      username: '{{ request.user.username | default_if_none:'' | escapejs }}',
      first_name: "{{ request.user.first_name | default_if_none:'' | escapejs }}",
      last_name: "{{ request.user.last_name | default_if_none:'' | escapejs }}",
      userpicUrl: '{% gravatar_url request.user.email 30 %}'.replace(/&amp;/g, "&")
    }
  {% else %}
    var userInfo = {
      is_authenticated: false
    }
  {% endif%}
</script>