{% load i18n %}

<script type="text/javascript">
    $.extend($.validator.messages, {
        required: "{% trans 'This field is required' %}",
        email: "{% trans 'Please enter a valid email address' %}",
        url: "{% trans 'This value must start with \"http://\" or \"https://\"' %}",
        date: "{% trans 'Please enter a valid date' %}",
        number: "{% trans 'This field must be a number' %}",
        creditcard: "{% trans 'Please enter a valid card number' %}",
        equal: "{% trans 'The values are not the same' %}",
        userName : "{% trans 'Enter a valid username. This value may contain only letters, numbers and \"-\", \"_\", \".\" characters.' %}",
        personName : "{% trans 'This value may contain only letters and spaces' %}",
        domenName: "{% trans 'Only alphabetic, numeric characters and hyphen are allowed. At least 4 characters are needed' %}",
        simplePhone: "{% trans 'Enter a valid phone. Only digits, plus and hyphen are allowed.' %}",
        inArray: "{% trans 'Please enter a valid value' %}",
    }); 
</script>