{% extends "error/error_base.html" %}

{% load i18n %}

{% block head_title %}{% trans '404 Page not found' %}{% endblock %}
{% block content_title %}{% trans '404' %}{% endblock %}

{% block error_content %}
    <div class="huge-text error-block__number">404</div>
    <h1 class="h2 error-block__title">{% trans 'Page does not exist' %}</h1>
    <div class="error-block__descr">{% trans 'Check your link or' %} <a id="error-report-link" href="mailto:info@nextgis.com?subject={% trans 'Non-existent page on' %} nextgis.com&body={% trans 'Action on the website led me to a 404 page' %} ">{% trans 'let us know' %}</a>.</div>
{% endblock %}