{% extends "base.html" %}

{% load i18n %}
{% load staticfiles %}
{% load get_userreport %}
{% load external_url %}

{% block body %}
<header class="header container py-0">
  <div class="header__right pull-right">
    {% block header_action %}
    {% endblock %}

    {% block header_action_login %}
    {% if request.user.is_authenticated %}
        <div class="header__user user-dropdown dropdown">
          <a href="#" class="user-dropdown__link withoutripple dropdown-toggle"  id="user-menu" data-toggle="dropdown">
              {% include "snippets/utilities/user_photo_small.html" %}
              <span class="hide-on-sm">{{ request.user.username }}</span>
              <i class="material-icons icon-caret hidden-xs"></i>
          </a>
          <ul class="user-dropdown__menu dropdown-menu dropdown-menu-right" aria-labelledby="user-menu">
              <li><a href="{% external_url 'ngid_profile' ''%}">{% trans 'Profile' %}</a></li>
              <li role="separator" class="divider"></li>
              <li>
                  <a href="{% block logout_link %}{% url 'silent_logout' %}{% endblock %}">
                      <span class="vcenter">{% trans 'Sign Out' %}</span>&nbsp;&nbsp;<i class="material-icons exit_to_app pull-right"></i>
                  </a>
              </li>
          </ul>
        </div>
    {% else %}
      <v-btn flat small class="ml-1"
        href="{% block login_link %}{% url 'account_login' %}{% endblock %}">
        {% trans 'Sign in' context 'menu_item' %}
      </v-btn>
    {% endif %}
    {% endblock %}
  </div>
  <div class="header__logo">
    <v-icon class="header__menu-btn header__menu-btn--content-sidebar" @click="sidebarMenuShown = true">menu</v-icon>
    <a href="{% block logo_link %}{% url 'root' %}{% endblock %}" class="withoutripple">
        {% include "snippets/logo.html" %}
    </a>
  </div>
  <div class="header__title h1">{% block content_title %}ID{% endblock %}</div>
  {% block header_plan %}
  {% endblock %}
  {% block header_menu %}
  {% endblock %}
</header>
<v-content class="main container px-0">
  <div class="layout-sidebar">
    <v-navigation-drawer
      class="layout-sidebar__sidebar app-sidebar app-sidebar--content"
      width="200" height="auto" mobile-break-point="1180"
      v-model="sidebarMenuShown" floating
    >
    {% block sidebar %}
      <sidebar-menu
        :items="{{ MENU_JS_STRUCT }}"
        active-item="{{ MENU_ACTIVE_ITEM_ID }}">
      </sidebar-menu>
    {% endblock %}
    </v-navigation-drawer>
    <div class="layout-sidebar__content">
      <div class="main__content">
      {% block body_content %}{% endblock %}
      </div>
    </div>
  </div>
</v-content>

<div class="admin__panel__content__messages">
    {% block service_top_messages %}
    {% endblock %}
</div>

{% endblock %}
