{% extends "base.html" %}

{% load i18n %}
{% load staticfiles %}
{% load get_userreport %}
{% load external_url %}

{% block body %}
    <!-- Cabinet aside -->
    {% include "snippets/left_menu.html" %}
    <section class="application-layout admin__panel container pt-0">
        <!-- Cabinet header -->
        <header class="header navbar container pa-0">
            <div class="header__right pull-right clearfix">
                {% block header_action %}
                {% endblock %}

                {% block header_action_login %}
                {% if request.user.is_authenticated %}
                    <div class="header__user user-dropdown dropdown">
                    	<a href="#" class="user-dropdown__link withoutripple dropdown-toggle"  id="user-menu" data-toggle="dropdown">
                            <span class="hide-on-sm">{{ request.user.username }}</span>
                            <i class="material-icons icon-caret hidden-xs"></i>
                        </a>
                        <ul class="user-dropdown__menu dropdown-menu dropdown-menu-right" aria-labelledby="user-menu">
                            <li>
                                <a href="{% block logout_link %}{% endblock %}">
                                    <span class="vcenter">{% trans 'Sign Out' %}</span>&nbsp;&nbsp;<i class="material-icons exit_to_app"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                {% else %}
                    <a class="btn btn-action btn-primary" href="{% block login_link %}{% endblock %}">{% trans 'Sign in' context 'menu_item' %}</a> {# {% url 'ngid_login' %} #}
                {% endif %}
                {% endblock %}
            </div>
            <div class="header__logo">
                <a href="{% block logo_link %}{% url 'root' %}{% endblock %}" class="withoutripple">
                    {% include "snippets/logo.html" %}
                </a>
            </div>
            <div class="header__title h1">{% block content_title %}{% endblock %}</div>
            {% block header_plan %}
            {% endblock %}
            {% block header_menu %}
            {% endblock %}
        </header>
        <!-- Cabinet content -->
        <div class="admin__panel__content">          
            <!-- Top messages  -->
            <div class="admin__panel__content__messages">
                {% block service_top_messages %}
                {% endblock %}
            </div>

            <div class="admin__panel__content__inner">
                {% block body_content %}{% endblock %}
            </div>
        </div>
    </section> <!--/.admin__panel .application-layout-->
{% endblock %}

{% block popups %}
{% endblock %}