.nav{
    background-color: transparent;
    height: auto;
    line-height: inherit;
    box-shadow: none;
    padding: 0 20px;
    text-align: right;

    @media (min-width: $screen-xs-min){
        text-align: center;
    }

    a, .btn{
        @include uppercase-text();
        color: $grey-500;
        text-decoration: none;

        &:hover{
            color: $brand-primary;
        }
    }

    .material-icons{
        vertical-align: middle;
        font-size: 20px;
        color:$textColor;
    }
}
    .nav__auth{
        position: absolute;
        right: 20px;
        margin-right: -14px;
        top: -1px;
    }

    .auth-nav{
        margin-right: 5px;
    }

        .auth-link{
            padding-left:14px;
            padding-right: 14px;

            &:not(.btn-raised):not(.btn-link):hover,
            &:not(.btn-raised):not(.btn-link):focus{
                color: $brand-primary;
                background-color: transparent;
            }

            .user-photo{
                margin-left: 4px;
            }
        }
            .auth-link--highlight{
                &:not(.btn-raised):not(.btn-link),
                &:not(.btn-raised):not(.btn-link){
                    color: #000;
                    background-color: transparent;
                }
            }

            .auth-link__inner{
                vertical-align: middle;
            }

    .nav__menu-link{
        margin-top:8px;

        &.shown{
            color: $off-black;

            .nav__menu-link__icon{
                &.icon-menu{
                    display: none;
                }
                &.icon-close{
                    display: inline-block;
                }
            }
        }

        .nav__menu-link__icon{
            position: relative;
            top: -1px;
            margin-left: -3px;

            &.icon-close{
                display: none;
            }
        }
        .nav__menu-link__text{
            margin-left:4px;
        }
    }

.nav--fixed{
    position: fixed;
    width: 100%;
    z-index: 10;
    background-color: $bg-color;
    background-image: linear-gradient(#e6e6e6, #e6e6e6);
    background-size: 0 1px;
    background-repeat: no-repeat;
    background-position: left bottom;
    height: $nav-height;
    line-height: $nav-height;
    top:0;
    left:0;
    transition: background-size    .6s ease-out;

    &.bordered{
        background-size: 100% 1px;
    }

    .logo--big{
        top:-2px;
        bottom:0;
        margin-top:auto;
        margin-bottom: auto;
    }
}

.lte-ie9 .nav--fixed.bordered{
    border-bottom: 1px solid #efefef;
}

!* Service menu *!
.nav__service-menu{
    display: none;
    position: absolute;
    top:100%;
    left:0;
    right: 0;
    background-color: $bg-color;
    text-align: left;
    line-height: 1.42857;

    @media (min-width: $screen-xs-min){
        text-align: center;
    }
}
.lte-ie9 .nav__service-menu{
    margin-top: 1px;
}

.nav__service-menu__list{
    font-size: $font-size-md;
    @include uppercase-text();
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: -10px;
    border-top: 1px solid #e6e6e6;

    &:first-child{
        border-top:0;
    }

    @media (min-width: $screen-xs-min){
        font-size: $font-size-lg;
    }

    a{
        color: $off-black;

        &:hover{
            color: $brand-primary;
        }
    }

    .nav__sml__item{
        display: block;
        margin-bottom: 10px;
        padding-left: 20px;
        padding-right: 20px;

        @media (min-width: $screen-xs-min){
            padding-left: 15px;
            padding-right: 15px;
            display: inline-block;
        }
    }
}
.nav__service-menu__text{
    font-size: $font-size-md;
    padding:15px 20px;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    a{
        text-transform: none;
        letter-spacing: 0;
        color: $brand-primary;

        &:hover{
            text-decoration: underline;
        }
    }
}

.nav__service-menu__auth{
    @media (min-width: $screen-xs-min){
        display: none;
    }
}